<h1>Rotten Mangoes</h1>


<!--   for searching title/director   --> 

<%= form_tag movies_path, method: "GET" do %>
  <%= text_field_tag :query, nil, placeholder: "Search by title or director" %>
  <p>
    <input type="submit"/>
  </p>
<% end %>

<!--   for searching movie duration   --> 


<%= form_tag movies_path, method: "GET" do %>
  <%= select_tag :search, options_for_select(["Under 90 minutes", "Between 90 and 120 minutes", "Over 120 minutes"], params[:search]) %>
  <p>
    <input type="submit"/>
  </p>
<% end %>


<!-- end of search block -->


<!-- body displaying info -->

    <%= link_to "Submit a movie!", new_movie_path %>
    <hr>
    <% @movies.each do |movie| %>
      <%= link_to image_tag(movie.poster_image_url_url), movie_path(movie) %>
      <h2><%= link_to movie.title, movie_path(movie) %></h2>
      <h3><%= movie.release_date %></h3>
      <h4>Dir. <%= movie.director %> | <%= movie.runtime_in_minutes %> minutes</h4>
      <p><%= movie.description %></p>
      <%= movie.review_average %>/10

  
    <!--   Admin stuff    -->

    <% if current_user and current_admin? %>
      <div class = "admin actions">
        <%= link_to "edit", edit_movie_path(movie) %>
        <%= link_to "delete", movie_path(movie), method: :delete, data: {confirm: "You sure?"} %>
        <%= link_to "New Movie", new_movie_path %>
      </div>
      <hr>
    <% end %>
  <% end %>
